@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;

.article-body {
  > .container > .content {
    max-width: size(720px, 1344px);
    padding: 0 0 responsive(96px);

    @include desktop-small {
      max-width: 75%;
    }

    @include tablet-down {
      max-width: 85%;
    }

    @include mobile {
      max-width: 100%;
      padding: 0 0 $spacing-48;
    }
  }

  section {
    .container {
      max-width: 100%;
      padding: 0;
    }
    + section {
      margin-top: responsive(48px);

      @include mobile {
        margin-top: $spacing-32;
      }
    }
  }
}
