@use '../helpers/variables' as *;
@use '../helpers/mixins' as *;

.carousel {
	.slick-list,
	.slick-track {
		height: 100%;
	}

	.slick-track {
		display: flex !important;
	}
	.slick-slide {
		height: unset;
		display: flex !important;
		flex-direction: column;
	}

	--gap: 6px;

	.slick-list {
		margin: 0 calc(-1 * var(--gap));
	}

	.slick-slide {
		margin: 0 var(--gap);
	}
}

// .carousel--visible--mobile .slick-list {
//   @include mobile {
//     margin-inline-end: calc(-1 * var(--container-padding));
//     padding-right: var(--container-padding);
//   }
// }

.slick-arrow {
	width: responsive(48px);
	height: responsive(48px);
	flex-shrink: 0;
	border-radius: $radius-full;
	border: 1px solid $color-border;
	background: transparent;
	@include flex-center;
	cursor: pointer;
	font-size: responsive(20px);
	color: #a4a7ae;
	transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;

	&:hover {
		background-color: $color-bg-hover;
		color: $color-slate;
	}
}

.carousel__arrows {
	display: flex;
	align-items: center;
	gap: responsive($spacing-8);
	flex-shrink: 0;
	&--light .slick-arrow {
		border-color: $color-white;
		background-color: transparent;

		[class*='icon-'] {
			color: $color-white;
		}

		&:hover {
			background-color: $color-white-alpha-30;
		}
	}
	&--dark .slick-arrow {
		border-color: $color-border;
		background-color: $color-bg-hover;

		[class*='icon-'] {
			color: $color-grey-700;
		}

		&:hover {
			background-color: $color-white-alpha-70;
		}
	}
}

.slick-dots {
	display: inline-flex !important;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
	gap: responsive($spacing-12);
	padding: responsive($spacing-8);
	background-color: $color-white;
	border-radius: $radius-full;
	backdrop-filter: blur(4px);
	li {
		width: responsive(8px);
		height: responsive(8px);
		flex-shrink: 0;
		margin: 0;
		padding: 0;
		line-height: 0;
		&.slick-active button {
			background-color: $color-neon-tide;
		}
		button {
			width: responsive(8px);
			height: responsive(8px);
			border-radius: $radius-full;
			background-color: $color-mist-50;
			border: none;
			padding: 0;
			font-size: 0;
			cursor: pointer;
			transition: background-color 0.2s ease;

			&:hover {
				background-color: $color-neon-tide;
			}
		}
	}
}
