@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;

// Intro text
.intro-text {
  text-align: center;

  > :last-child {
    margin-bottom: 0 !important;
  }

  h2 {
    margin-bottom: responsive(20px);
  }

  p{
    margin-bottom: responsive(16px);
  }

  .btn{
    margin-top: responsive(8px);
  }
}
