@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;

.pagination {
  border-top: 1px solid $color-border;
  padding-top: responsive($spacing-20);
  @include mobile{
    margin-inline: calc(-1 * var(--container-padding));
    padding: var(--container-padding);
  }
  &__list {
    display: flex;
    align-items: center;
    gap: $spacing-2;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    > a,
    > span {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: responsive(40px);
      height: responsive(40px);
      padding: 0 responsive($spacing-12);
      border-radius: $radius-full;
      font-family: $font-body;
      font-size: responsive($font-size-p3);
      font-weight: 500;
      line-height: 1.43;
      color: $color-grey-700;
      text-decoration: none;
      transition: background-color 0.3s ease;
    }

    > a:hover {
      background-color: $color-bg-hover;
      color: $color-grey-900;
    }

    &--active > span {
      background-color: $color-bg-hover;
      color: $color-grey-900;
    }

    &--ellipsis > span {
      cursor: default;
    }

    &--prev,
    &--next {
      a {
        gap: responsive($spacing-4);
        color: $color-grey-800;
        font-weight: 600;
        padding: 0;

        &:hover {
          background-color: transparent;
        }
      }
    }

    &--prev {
      flex: 1;
      justify-content: flex-start;
      a {
        justify-content: flex-start;
      }
    }

    &--next {
      flex: 1;
      justify-content: flex-end;
      a {
        justify-content: flex-end;
      }
    }
  }

  &__info {
    display: none;
  }

  @include mobile {
    padding-top: $spacing-16;

    &__list {
      justify-content: space-between;
    }

    &__item:not(.pagination__item--prev):not(.pagination__item--next):not(.pagination__info) {
      display: none;
    }

    &__item--prev,
    &__item--next {
      flex: 0;

      a {
        width: 40px;
        height: 40px;
        padding: $spacing-8;
        border: 1px solid $color-border-medium;
        border-radius: var(--radius-md);
        box-shadow: $shadow-xs, $shadow-skeuomorphic;
        background-color: $color-white;
        justify-content: center;
        font-size: 0;
        overflow: hidden;
        gap: 0;
      }

      [class*="icon-"] {
        font-size: 20px;
      }
    }

    &__info {
      display: flex;
      align-items: center;
      font-family: $font-body;
      font-size: $font-size-p3;
      font-weight: 500;
      line-height: 1.43;
      color: $color-grey-900;
    }
  }
}
