@use '../helpers/variables' as *;
@use '../helpers/mixins' as *;

.title-block {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: responsive($spacing-16) responsive($spacing-40);
	padding-top: responsive(80px);
	padding-bottom: responsive($spacing-40);
	@include tablet-down {
		padding-top: 40px;
		padding-bottom: $spacing-24;
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: responsive($spacing-12);
		@include tablet-down {
			width: 100%;
		}
	}

	&__right {
		flex: none;
	}

	&__title {
		@include h3;
		color: $color-dark;
		transform: translate(0, -10%);

		@include mobile {
			font-size: 24px;
			letter-spacing: -0.72px;
			line-height: 1.15;
			transform: none;
		}
	}

	&__overline {
		font-family: $font-body;
		font-size: responsive($font-size-caption);
		font-weight: 400;
		line-height: 1.4;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: $color-stone;
	}

	&__subtitle {
		@include body-text($font-size-p2, 400);
		color: $color-stone;

		@include mobile {
			font-size: 12px;
			line-height: 1.4;
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
		gap: responsive($spacing-8);
		flex-shrink: 0;
	}

}
