@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;

.block-usps {
  .content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: responsive($spacing-32);
    padding: responsive($spacing-80) responsive($spacing-16);
    border-radius: 16px;
    @include mobile {
      padding: 46px 16px;
      gap: 42px 40px;
    }
  }

  &:has(.content:not([class*="bg-"])){
    padding: responsive(56px) 0;
  }

  &__title {
    width: 100%;
    text-align: center;
    @include heading(32px, 400, 1.2, -0.96px);
    color: $color-dark;
    display: none;

    @include mobile {
      display: block;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: responsive($spacing-16);
    width: responsive(216px);
    text-align: center;

    @include mobile {
      // width: calc(50% - 8px);
      width: 128px;
      gap: $spacing-12;
    }
  }

  &__icon {
    width: responsive(147px);
    height: responsive(147px);
    border-radius: var(--radius-lg);
    background-color: $color-neon-tide;
    overflow: hidden;
    position: relative;
    @include flex-center;

    @include mobile {
      width: 100%;
      height: auto;
      aspect-ratio: 1;
      border-radius: 14px;
    }

    img {
      width: responsive(75px);
      height: responsive(75px);
      object-fit: contain;

      @include mobile {
        width: 60px;
        height: 60px;
      }
    }
  }

  &__icon-label-top,
  &__icon-label-bottom {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: $font-body;
    font-size: responsive($font-size-caption);
    line-height: $lh-caption;
    color: $color-sky;
    white-space: nowrap;
  }

  &__icon-label-top {
    top: responsive($spacing-12);
  }

  &__icon-label-bottom {
    bottom: responsive($spacing-12);
  }

  &__label {
    @include body-text($font-size-p2, 400);
    color: $color-dark;
    max-width: responsive(216px);
    margin-left: auto;
    margin-right: auto;

    @include mobile {
      font-size: 14px;
      line-height: 1.5;
    }
  }
}
