@use '../helpers/variables' as *;
@use '../helpers/mixins' as *;

.block-health-concerns {
	position: relative;
	padding: responsive(52px) 0 responsive($spacing-56);

	@include mobile {
		padding: 38px 0;
		border-radius: 8px;
		overflow: hidden;
	}

	.intro-text {
		position: relative;
		z-index: 1;
		padding-bottom: responsive($spacing-56);

		h2 {
			@include h1;
		}

		@include mobile {
			padding-bottom: $spacing-32;
			text-align: center;

			h2 {
				font-size: 32px;
				letter-spacing: -0.96px;
				line-height: 1.2;
			}

			p {
				font-size: 14px;
				line-height: 1.5;
			}
		}
	}

	&__grid {
		position: relative;
		z-index: 1;
		justify-content: center;
		margin-bottom: responsive($spacing-56);
		@include card-layout(6,responsive($spacing-24));

		@include desktop-small {
			@include card-layout(3,16px);
		}

		@include tablet-down{
			@include card-layout(3,16px);
		}

		@include mobile {
			@include card-layout(2,12px);
			margin-bottom: $spacing-32;
		}
	}

	&__cta {
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: center;

		@include mobile {
			.btn {
				width: 100%;
				font-size: $font-size-p2;
				padding: 10px $spacing-16;
			}
		}
	}
}

// Card — Health
.card--health {
	@include glass-card;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: responsive($spacing-24);
	// width: responsive(204px);
	padding: responsive($spacing-8) responsive($spacing-8) responsive($spacing-24);
	box-shadow: $shadow-card, $shadow-glass;
	cursor: pointer;
	transition: transform 0.2s ease;

	@include tablet-down{
		// width: auto;
		gap: $spacing-8;
		padding: 16px 8px 24px;
		border-radius: 16px;
	}

	&:hover {
		transform: translateY(calc(-1 * responsive(6px)));
	}

	.card__image {
		flex: 1;
		width: 100%;
		border-radius: var(--radius-md);

		.img-box {
			padding-top: size(161, 188);
		}
		@include tablet-down{
			.img-box{
				padding: 0;
				>*{
					position: static;
					transform: none;
					margin: 0 auto;
					height: auto;
					width: auto;
					max-height: 100%;
				}
			}
		}
	}

	.card__label {
		display: flex;
		align-items: center;
		gap: responsive($spacing-4);
		@include body-text($font-size-p2, 400);
		color: $color-dark;
		white-space: nowrap;
	}

	.card__arrow {
		font-size: responsive(16px);
		padding-top: 2px;
	}
}
