@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;

.block-richtext {
  .text {
    color: $color-slate;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      letter-spacing: 0;
      color: $color-dark;
      margin-top: responsive($spacing-32);

      @include tablet-down {
        margin-top: $spacing-24;
      }

      &:first-child {
        margin-top: 0;
        margin-bottom: responsive($spacing-20);
      }
    }

    h2 {
      font-size: responsive($font-size-h4);
      line-height: $lh-h4;

      @include tablet-down {
        font-size: 22px;
      }
    }

    h3 {
      font-size: responsive($font-size-h5);
      line-height: $lh-h5;

      @include tablet-down {
        font-size: $font-size-h6;
      }
    }

    h4,
    h5,
    h6 {
      font-size: responsive($font-size-h6);
      line-height: $lh-h6;
    }

    > p {
      margin-bottom: responsive(10px);
    }

    ol > li {
      margin-bottom: 0;
    }
  }
  .content[class*="bg-"] .text {
    padding: responsive($spacing-32);

    @include tablet-down {
      padding: $spacing-24;
    }
  }

  &--privacy {
    .text {
      ul,
      ol {
        > li:not(:first-child) {
          margin-bottom: 0;
          margin-top: responsive($spacing-18);

          @include tablet-down {
            margin-top: $spacing-12;
          }
        }
        ul,
        ol {
          > li:not(:first-child) {
            margin-top: 0;
          }
        }
      }
    }
  }
}
