@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;

.block-usp-ticker {
  overflow: hidden;
  height: responsive(26px);
  @include mobile {
    padding: 24px 0;
  }
  &__items {
    display: flex;
    gap: responsive($spacing-12);
    padding-top: $spacing-2;
    padding-right: responsive($spacing-12);
  }

  &__item {
    display: inline-flex;
    align-items: center;
    gap: responsive($spacing-12);
    white-space: nowrap;
    font-family: $font-heading;
    font-size: responsive(13px);
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: 0.26px;
    text-transform: uppercase;
    color: $color-dark;
    margin-right: responsive(72px);

    [class*="icon-"] {
      font-size: responsive(24px);
      flex-shrink: 0;
      color: $color-neon-tide;
    }
  }
}
