@use '../helpers/variables' as *;
@use '../helpers/mixins' as *;

.block-ambassador {
	overflow: hidden;
	margin-bottom: responsive(40px);

	@include tablet-down {
		border-radius: 8px;
		margin-bottom: 36px;
	}

	.content {
		position: relative;
		margin-inline: calc(-1 * var(--container-padding));
	}

	.item {
		position: relative;
		@include tablet-down {
			padding: 483px 16px 16px;
		}
	}

	&__bg {
		pointer-events: none;
		border-radius: 0;
		@include tablet-down {
			position: absolute;
			inset: 0;
		}
		.img-box {
			padding-top: size(700px, 1440px);

			@include tablet-down {
				height: 100%;
			}

			@include mobile {
				padding-top: size(632, 428);
			}
		}
		&::after {
			content: '';
			position: absolute;
			inset: 0;
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.4) 86%);
			z-index: 1;
		}
	}

	&__card {
		z-index: 1;
		background-color: $color-white;
		border-radius: var(--radius-md);
		padding: responsive($spacing-24) responsive($spacing-24);
		width: 100%;
		max-width: size(659, 1440);
		@include desktop {
			position: absolute;
			left: var(--container-padding);
			bottom: var(--container-padding);
		}
		@include tablet-down {
			max-width: 659px;
			position: relative;
		}

		@include mobile {
			padding: 12px 12px 12px 19px;
		}
	}

	&__card-top {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: responsive($spacing-16);
		margin-bottom: responsive($spacing-40);
		> div {
			transform: translate(0, -5px);
		}

		@include mobile {
			margin-bottom: $spacing-16;
			gap: $spacing-12;
		}
	}

	&__name {
		font-family: $font-heading;
		font-size: responsive($font-size-h3);
		font-weight: 400;
		line-height: $lh-h3;
		letter-spacing: $ls-h3;
		color: $color-dark;
		letter-spacing: 0;

		@include tablet-down {
			font-size: 32px;
			// letter-spacing: -0.64px;
		}

		@include mobile {
			font-size: 18px;
			line-height: 28px;
			margin-top: 4px;
		}
	}

	&__role {
		@include body-text($font-size-p2, 400, $lh-p2);
		color: $color-grey-600;
		margin-top: responsive($spacing-4);
		@include mobile {
			margin-top: 0;
		}
	}

	&__badge {
		border-radius: $radius-sm;
		flex-shrink: 0;
	}

	&__quote {
		font-family: $font-heading;
		font-size: responsive($font-size-p3);
		font-weight: 400;
		line-height: 1.6;
		color: $color-grey-600;
		margin: 0;

		@include mobile {
			font-family: $font-body;
			font-size: 14px;
			line-height: 1.4;
			color: $color-dark;
		}
	}

	.carousel__arrows {
		position: absolute;
		z-index: 1;
		right: var(--container-padding);

		@include desktop {
			bottom: var(--container-padding);
		}

		@include tablet-down {
			top: 16px;
		}
	}

	// .slick-arrow {
	// 	border-color: $color-white;

	// 	&:hover {
	// 		background-color: $color-white-alpha-10;
	// 	}
	// }
}
