@use '../helpers/variables' as *;
@use '../helpers/mixins' as *;

.block-contact {
	background-color: $color-white;

	padding: responsive($spacing-40) 0 responsive($spacing-96) 0;

	@include tablet-down {
		padding: $spacing-32 0;
	}

	.content {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		gap: responsive($spacing-64);

		@include tablet-down {
			gap: $spacing-32;
		}
	}

	&__image {
		width: size(660, 1344);

		@include tablet-down {
			width: 100%;
		}

		.img-box {
			padding-top: size(660, 660);
		}
	}

	&__form {
		width: size(546, 1344);

		@include desktop-small {
			flex: 1;
		}

		@include tablet-down {
			width: 100%;
		}
		&-desc {
			font-size: responsive($font-size-p1);
			line-height: $lh-p1;

			@include tablet-down {
				font-size: $font-size-p2;
			}
		}
	}

	.text {
		max-width: 85%;
		margin-bottom: responsive($spacing-48);

		@include tablet-down {
			max-width: 100%;
			margin-bottom: $spacing-32;
		}

		p{
			color: $color-slate;
		}

		a{
			color: inherit;
    	text-decoration: none;
		}
	}
	.social-btn{
		[class*="icon-"] {
			@include desktop  {
				font-size: responsive(32px);
			}
		}
	}
	a:has( .social-btn ){
		display: inline-flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: center;
		gap: 14px;
	}
}
