@use '../helpers/variables' as *;
@use '../helpers/mixins' as *;

.block-community {
	padding-bottom: responsive(40px);
	@include mobile {
		padding: 40px 0 30px;
	}


	.content {
		display: flex;
		flex-direction: column;
		gap: responsive($spacing-24);
		@include mobile {
			gap: $spacing-16;
			@include slick-visible;
		}
	}

	.title-block {
		@include mobile {
			padding-top: 0;
		}
	}


	.carousel {
		--gap: 12px;
		@include mobile {
			width:160px;
		}
	}

	.img {
		border-radius: var(--radius-md);
		.img-box {
			padding-top: size(400px, 318px);
			@include mobile {
				padding-top: size(234, 160);
			}
		}
	}
}

.block-usp-ticker + .block-community {
	@include desktop{
		margin-bottom: responsive(10px);
	}
}
