@use '../helpers/variables' as *;
@use '../helpers/mixins' as *;

.block-statement {
	.content:not([class*='bg-']) {
		padding: responsive($spacing-80) 0;

		@include mobile {
			padding: $spacing-56 0;
		}
	}

	.content[class*='bg-'] {
		padding: responsive(40px) responsive($spacing-48) responsive(100px);

		@include mobile {
			padding: $spacing-56 $spacing-16;
		}
	}

	&__overline {
		font-family: $font-body;
		font-size: responsive(14px);
		font-weight: 400;
		line-height: 1.324;
		letter-spacing: responsive(1.54px);
		text-transform: uppercase;

		@include mobile {
			font-size: 10px;
			letter-spacing: 1px;
			line-height: 1.4;
		}
	}

	&__text {
		@include h1;
		max-width: responsive(888px);
		padding: responsive(22px) 0 responsive(60px);
		overflow: hidden;

		@include tablet-down {
			@include h2;
			padding: 32px 0;
		}

		@include mobile {
			@include h3;
			letter-spacing: -1.2px;
		}

		.line {
			display: block;
			position: relative;
		}

		.line__default {
			color: #8b9298;
		}

		.line__mask {
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			overflow: hidden;
		}

		.line__mask-content {
			white-space: nowrap;
			color: $color-dark;
		}
	}

	&__cta {
		margin-top: $spacing-56;

		@include tablet-down {
			margin-top: $spacing-32;
		}
	}
}
