@use '../helpers/variables' as *;
@use '../helpers/mixins' as *;

.block-comparison {
	position: relative;

	.content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: responsive(28px);
		padding: responsive(113px) 0 responsive(90px);

		@include desktop {
			transform: translate(calc(-1 * responsive(18px)), 0);
		}
		@include tablet-down {
			flex-direction: column-reverse;
			padding: 40px 0 48px;
			gap: 56px;
		}
	}

	&__table-wrap {
		max-width: size(750px, 1344px);
		flex: 1;
		margin: 0 auto;
		position: relative;

		@include tablet-down {
			flex: none;
			width: 100%;
			max-width: 100%;
		}
	}

	&__product-img {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -60%);
		width: responsive(135px);
		z-index: 2;

		.img-box {
			padding-top: 100%;
		}

		@include mobile {
			width: 110px;
		}
	}

	&__table {
		display: flex;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: calc(100% - 30px);
			transform: translate(0, -50%);
			background-color: $color-white;
			border-radius: var(--radius-lg);
			z-index: 0;
			@include tablet-down {
				background-color: #f2f5f8;
				border-width: 1px;
				border-style: solid;
				// border-image-source: linear-gradient(0deg, #FFFFFF, #FFFFFF),linear-gradient(0deg, rgba(203, 203, 203, 0.5), rgba(203, 203, 203, 0.5));
				border-color: rgba(203, 203, 203, 0.5);
			}
		}
	}

	&__col {
		width: size(250px, 750px);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: responsive($spacing-24);
		padding: responsive($spacing-40) responsive($spacing-12);
		position: relative;
		z-index: 1;

		@include mobile {
			gap: $spacing-24;
			padding: 40px 12px;
		}

		&--ours {
			overflow: hidden;
			border-radius: var(--radius-lg);
			border: 1px solid $color-sky;
			background-color: transparent;
			box-shadow: 0 6px 14px rgba(24, 39, 75, 0.12), 0 10px 32px rgba(24, 39, 75, 0.1);
		}

		&--ours .img--bg {
			z-index: 1;
		}

		&--ours .block-comparison__th,
		&--ours .block-comparison__td {
			color: $color-white;
			position: relative;
			z-index: 1;
			@include mobile {
				text-align: center;
			}
		}

		&--ours .block-comparison__th {
			border-color: rgba(255, 255, 255, 0.4);
		}
	}

	&__th {
		@include body-text(14px, 500, 20px);
		font-size: responsive(14px);
		color: $color-dark;
		text-align: center;
		border: 1px solid transparent;
		border-radius: 33px;
		padding: responsive(3px) 0;
		width: 100%;
		@include mobile {
			text-align: left;
		}
	}

	&__td {
		@include body-text(12px, 400, 17px);
		font-size: responsive(12px);
		color: $color-slate;
		text-align: center;
		width: 100%;
		@include mobile {
			flex: 1;
			display: flex;
			align-items: center;
			line-height: 1.4;
			text-align: left;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: size(418px, 1344px);
		padding: responsive(14px) responsive(4px) responsive(16px);

		@include tablet-down {
			width: 100%;
		}

		@include mobile {
			padding: 0;
		}
	}

	&__heading {
		@include heading($font-size-h3, 400, $lh-h3, -0.8px);
		color: $color-dark;
		margin-bottom: responsive($spacing-16);

		@include tablet-down {
			font-size: 32px;
			letter-spacing: -0.64px;
		}

		@include mobile {
			font-size: 32px;
			line-height: 1.2;
			letter-spacing: -0.96px;
		}
	}

	&__description {
		@include body-text($font-size-p1, 400, $lh-p1);
		color: $color-slate;

		@include mobile {
			font-size: 16px;
			line-height: 1.5;
		}
	}
}
